.compare-cake {
  &-content {
    margin: 17px 25px;
    text-align: center;

    &-text {
      margin: 25px 0 15px;
      text-align: center;

      h2 {
        margin: auto;
        font-weight: 900;
        font-size: 31px;
        letter-spacing: -0.01em;
        line-height: 42px;
        color: #073B4C;
      }
    }

    .column-header {
      display: flex;
      justify-content: space-evenly;

      >div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        font-size: 15px;
        line-height: 19px;
        color: #073B4C;

        >span {
          display: block;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          background: #FFBC0F;
          margin-bottom: 8px;
        }

        &:first-child {
          >span {
            background: #37BCDA;
          }
        }
      }
    }
  }

  &-question {
    text-align: center;
    margin-top: 32px;

    p {
      margin: auto;
      margin-top: 25px;
      max-width: 300px;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #6D6E7C;
    }

    &-options {
      position: relative;
      margin: 15px auto 25px;
      max-width: 150px;
      display: flex;
      justify-content: space-between;

      >div {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px 1px rgba(122, 150, 185, 0.24);
        border-radius: 8px;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        color: #6D6E7C;
      }

      &:before {
        content: "o";
        position: absolute;
        left: 70px;
        top: 12px;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #6D6E7C;
      }

      .selected {
        background: #37BCDA;
        color: #ffffff;
      }
    }
  }

  button {
    max-width: 225px;
  }

}