$font: 'Nunito',
sans-serif;
$font-size-base : 15px;
$max-width: 510px;
$max-height:920px;

//Breakpoints
$desktop: '1367px';
$laptop: '1220px';
$medium: '1025px';
$tablet: '770px';
$mobile: '370px';

//colors
$primary: #333;
$secondary: #999;
$background-color: #F7FAFF;
$bkg-blue: #37BCDA;
$menta-green: #06D6A0;
$dark-green: #06A67C;
$color-text: #073B4C;