$font: 'Nunito',
sans-serif;
$font-size-base : 15px;

//Breakpoints
$desktop: '1367px';
$laptop: '1220px';
$medium: '1025px';
$tablet: '770px';
$mobile: '451px';

//colors
$primary: #333;
$secondary: #999;
$background-color: #F7FAFF;
$bkg-blue: #37BCDA;
$color-text: #073B4C;