.compare-charts {
  &-answer {
    position: relative;
    margin-top: -51px;

    span {
      position: absolute;
      right: 1rem;
      bottom: 2rem;
      font-size: x-small;
      color: #9F9FB5;
    }
  }

  textarea {
    resize: none;
    font-size: 16px;
    line-height: 25px;
    color: #073B4C;
    background: #FFFFFF;
    border: 2px solid #9F9FB5;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    padding: 12px 25px;
    margin: 25px 0;
  }
}