.exploration {
  background-color: #F7FAFF;
  height: 100%;

  &-text {
    text-align: center;
    margin: 36px auto;
    max-width: 310px;

    h1 {
      margin-bottom: 12px;
    }

    p {
      font-weight: 800;
      font-size: 15px;
      line-height: 19px;
      color: #073B4C;
    }

  }

  &-content {
    margin: 0 25px;
  }

  &-activity {
    margin-bottom: 32px;

    svg {
      position: relative;

      path {
        fill: #D9D9ED;
        stroke: #F7FAFF;
        stroke-width: 4;
      }
    }

    &-svg {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: #F7FAFF;
        z-index: 1;
        top: 37px;
        left: 37px;
      }
    }

    .activity {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 360PX;
      margin: auto;
    }

    .activity-circle {
      width: fit-content;
      flex: 0 45%;
      justify-content: center;

      >div {
        text-align: center;

        &:last-child {
          transform: scaleY(-1);
        }

        svg {
          transition: all 1s ease;

        }

        path {
          cursor: pointer;
          fill: #D9D9ED;
          transition: all 1s ease;

          &.color-path {
            fill: #FFBC0F;
          }

          &.color-path4 {
            fill: #27DCAD;
          }
        }

        &.colorete {
          path {
            fill: #68C4D3;
          }
        }
      }

      &.circle-1 {
        >div:last-child {
          margin-top: -6px;
        }
      }

      &.circle-2 {
        display: flex;
        flex: 0 50%;
        flex-wrap: wrap;
        height: fit-content;

        .colorete {
          path {
            fill: #A1C74D;
          }
        }

        >div {
          height: 73px;

          &:first-child {
            transform: none;
          }

          &:nth-child(2) {
            transform: rotate(90deg);
            transform: scaleX(-1);
          }

          &:nth-child(3) {
            transform: rotate(270deg);
          }

          &:nth-child(4) {
            transform: rotate(180deg);
          }
        }
      }
    }
  }


  button {
    transition: all .5s ease;
  }

  .disabled {
    cursor: pointer;
    width: 100%;
    height: 62px;
    border: none;
    background: #EDEDFB;
    box-shadow: 0px 5px 0px #9F9FB5;
    border-radius: 20px;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #9F9FB5;
  }

  @media (max-width: $mobile) {
    &-text {
      margin: 24px auto 18px;
    }

    &-activity {
      margin-bottom: 48px;
    }

    .activity {
      &-circle {
        height: 128px;
        width: 128px;
        transform: scale(0.8);

        &.circle-2 {
          margin-top: 8px;
          transform: scale(0.9);

          >div {
            width: 64px;
            height: 64px;
          }

          svg {
            width: 64px;
            height: 64px;
          }
        }

        &.circle-3 {
          margin-left: -12px;
        }

        &.circle-4 {
          margin-right: 22px;
        }

      }
    }

  }
}