.rain-drop {
  height: 100vh;
  background-color: #0079DE;
  height: 100%;

  &-body {
    position: relative;
    overflow: hidden;
  }

  &-header {
    img {
      width: 100%;
      margin-top: -80px;
    }
  }
}