.scales {
  &-content {
    margin: 32px 35px;

    &-text {
      max-width: 300px;
      margin: auto;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #073B4C;

      .dot-blue {
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        background: #37BCDA;
        border: 2px solid #FFFFFF;
      }
    }
  }

  &-activity {
    max-width: 320px;
    margin: auto;

    &-fraction {
      display: flex;
      justify-content: space-evenly;
      margin: 60px auto 25px;
      max-width: 300px;
      transition: all .2s ease;
      border: none;

      .complete {
        transition: all .2s ease;
        background: #68C4D3;
        color: #ffffff;
        opacity: 1;

        &:before {
          transition: all .2s ease;
          background-color: #ffffff;
        }
      }

      .selected {
        transition: all .2s ease;
        border: 2px dashed #68C4D3;
        background-color: #ffffff;
        color: #6D6E7C;

        opacity: 1;

        &:before {
          background-color: #9F9FB5;
        }
      }
    }

    &-items {
      margin-top: 71px;

      .content-slider {
        margin-bottom: 35px;

        &:not(:last-child) {
          margin-bottom: 70px;
        }
      }

      .rc-slider {
        &-disabled {
          opacity: 0.5;
          background-color: transparent;

          .rc-slider-track {
            background-color: transparent;
          }
        }

        &-rail {
          background-color: #c8101000;
          top: calc(50% - 1px);
          border-top: 2px dashed #9F9FB5;

          &::before {
            content: "\279C";
            position: absolute;
            font-size: 10px;
            font-weight: 900;
            color: #9F9FB5;
            right: -3%;
            top: -6px;
          }
        }

        &-dot {
          width: 4px;
          height: 8px;
          border: none;
          border-right: 2px solid #9F9FB5;
          background-color: transparent;
          border-radius: 0;

          &-active {
            border-color: #9F9FB5;
          }
        }

        &-track {
          background-color: transparent;
        }

        &-handle {
          width: 22px;
          height: 22px;
          background: #37BCDA;
          border: 2px solid #FFFFFF;
          margin-top: -10px;
        }

        &-mark {
          top: -18px;
          display: flex;
          align-items: center;

          strong {
            position: relative;
            display: flex;
            flex-direction: column;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            text-align: center;

            &:before {
              content: "";
              position: absolute;
              top: calc(50% - 1px);
              left: -50%;
              background-color: #9F9FB5;
              height: 2px;
              width: 16px;
              border-radius: 10px;
            }

            &.rc-strong-mark {
              color: #073B4C;
              font-size: 12px;

              &:before {
                background-color: #073B4C;
                left: -50%;
              }
            }
          }

          >span:last-child,
          >span:first-child {
            strong::before {
              display: none;
            }
          }
        }
      }
    }
  }

  &-fractions {
    position: relative;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 42px;
    height: 76px;
    color: #6D6E7C;
    cursor: pointer;

    span {
      font-size: 15px;
      font-weight: bolder;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
    }

    &:before {
      content: "";
      position: absolute;
      top: calc(50%-2px);
      background-color: #9F9FB5;
      height: 3px;
      width: 25px;
      border-radius: 10px;
    }
  }

  &-conclusion {
    >p {
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #073B4C;
    }

    svg {
      margin: 54px auto 45px;
    }

    .compare-charts-answer {
      position: relative;
      margin-top: -51px;

      span {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        font-size: x-small;
        color: #9F9FB5;
      }


      textarea {
        resize: none;
        font-size: 16px;
        line-height: 25px;
        color: #073B4C;
        background: #FFFFFF;
        border: 2px solid #9F9FB5;
        box-sizing: border-box;
        border-radius: 8px;
        width: 100%;
        padding: 12px 25px;
        margin: 25px 0;
      }
    }
  }
}