.efda {
  height: 100%;

  .highlight-blue {
    color: #0079DE;
    font-weight: bold;
  }

  &-question-1 {
    display: block;
    height: 100%;
    background: #F6FAFF;

    .select-4-options-card {
      img:not(.card-bkg) {
        margin-top: 12px;
        margin-left: 6px;
        position: relative;
      }
    }
  }

  &-question-2 {
    display: block;
    height: 100%;
    background: #F6FAFF;

    .select-4-options-list {
      justify-content: space-between;
    }

    .select-4-options-card {
      background: transparent;
      border: none;

      .card-bkg {
        top: auto;
        width: 130px;
        height: 130px;
      }

      .scales-fractions {
        opacity: 1;
        background: transparent;
        height: auto;

        span {
          color: #073B4C;
          font-size: 24px;
          line-height: normal;
        }

        &:before {
          background-color: #073B4C;
          width: 32px;
        }
      }

      &.selected {
        border: none;
      }
    }
  }

  &-question-4 {
    .select-4-options {
      &-list {
        justify-content: space-evenly;
      }

      &-card {
        width: 94px;
        height: 100px;
        background: #504F81;
        border: 2px solid #EDEDFB;
        border-radius: 8px;
        margin-bottom: 42px;

        label {
          bottom: -24px;
        }
      }
    }
  }

  &-question-5 {
    .select-4-options {
      &-list {
        justify-content: space-evenly;
      }

      &-card {
        flex-direction: column;
        justify-content: flex-start;

        .card-bkg {
          position: relative;
        }

        label {
          bottom: 8px;
        }

        .scales-fractions {
          opacity: 1;
          background: transparent;
          height: auto;

          span {
            color: #073B4C;
            font-size: 24px;
            line-height: normal;
          }

          &:before {
            background-color: #073B4C;
            width: 32px;
          }
        }
      }
    }
  }
}