.feedback {
  @extend .slide-in-bottom;
  position: absolute;
  inset: 0;
  //top: 60px;
  z-index: 1;

  &-correct {
    height: 100vh;
    background-color: #A1C74D;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2 {
      margin-top: 27px;
      color: #ffffff;
    }

    &-content {
      margin-top: 175px;
      margin-bottom: 132px;
    }
  }

  &-clue {
    background: #F6FAFF;
    //height: calc(100vh - 60px);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img {
      width: 84px;
      height: 84px;
    }

    &-data {
      position: relative;
      padding: 16px 0;
      margin: 20px auto;

      &:after,
      &:before {
        content: '';
        position: absolute;
        width: 42px;
        left: 123px;
        height: 8px;
        background: #FFE69B;
        border-radius: 20px;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }

    &-content {
      min-width: 287px;
      width: 100%;
      max-width: 300px;
      min-height: 493px;
      height: auto;
      background: #FF4F5B;
      border-radius: 20px;
      color: #ffffff;
      margin: 56px auto 40px;
      padding-top: 12px;

      h2 {
        margin: 19px auto;
        font-size: 32px;
      }

      p {
        max-width: 260px;
        margin: 26px auto;
        font-size: 25px;
        font-weight: normal;
        line-height: 30px;
        color: #ffffff;
      }
    }

    .btn-next {
      max-width: 260px;
      font-size: 21px;
      padding: 12px 0;
      margin-top: 0;
      margin-bottom: 24px;
    }
  }

  .btn-next {
    background-color: #37BCDA;
    width: 100%;
  }

  @media (max-width: $mobile) {
    top: 0;
    position: fixed;
    height: 100vh;
    overflow: auto;

    &-correct,
    &-clue {
      overflow: auto;
      width: 100vw;
      height: auto;
      padding-bottom: 20px;
    }

    &-correct {
      //height: calc(100vh - 45px);
      height: 100%;

      &-content {
        margin-top: 60px;
        margin-bottom: 80px;
      }
    }
  }
}