.feedback {
  position: absolute;
  inset: 0;
  top: 60px;

  &-correct {
    height: calc(100vh - 60px);
    background-color: #A1C74D;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2 {
      margin-top: 27px;
      color: #ffffff;
    }

    &-content {
      margin-top: 175px;
      margin-bottom: 132px;
    }
  }

  .btn-next {
    background-color: #37BCDA;
    width: 100%;
  }
}