.exploration2 {
  background-color: #F7FAFF;
  height: 100%;

  &-text {
    text-align: center;
    margin: 25px 0;

    h1 {
      margin-bottom: 12px;
    }

    p {
      font-weight: 800;
      font-size: 15px;
      line-height: 19px;
      color: #073B4C;
    }

  }

  &-content {
    margin: 0 12px;
  }

  &-activity {
    margin-bottom: 32px;

    svg {
      position: relative;

    }

    &-svg {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: #F7FAFF;
        z-index: 1;
        top: 37px;
        left: 37px;
      }
    }

    .activity {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .activity-circle {
      width: fit-content;
      display: flex;
      margin-bottom: 75px;

      &-quarter {
        margin-left: 15px;

        input {
          background: #FFFFFF;
          box-shadow: 0px 0px 12px 1px rgba(122, 150, 185, 0.24);
          border-radius: 8px;
          height: 40px;
          width: 46px;
          border: none;
          text-align: center;
          font-weight: 800;
          font-size: 15px;
          color: #9F9FB5;
        }

        >div {
          margin-top: 12px;
          border-top: 2px solid #9F9FB5;
          padding-top: 12px;
          font-weight: 800;
          font-size: 15px;
          line-height: 19px;
          text-align: center;
          color: #9F9FB5;
        }
      }
    }

  }

  button {
    transition: all .5s ease;
  }

  .disabled {
    cursor: pointer;
    width: 100%;
    height: 62px;
    border: none;
    background: #EDEDFB;
    box-shadow: 0px 5px 0px #9F9FB5;
    border-radius: 20px;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #9F9FB5;
  }
}