.focus {
  position: relative;
  height: 100%;

  &-body {
    max-width: 310px;
    margin: 16px auto;

    p {
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #53536E;
      margin-bottom: 24px;
    }

    .btn-next {
      margin-top: 25px;
      width: 190px;
      background: #0079DE;
      border: 0px 5px 0px #054E8B;
    }

    .disabled {
      background: #EDEDFB;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    &.show-options {
      .focus-card {
        transition: all .5s ease;

        &:nth-child(even) {
          background-color: #504F81;

          img {
            display: none;
          }

          svg {
            display: block;
          }
        }

        &.selected-green {
          background-color: #1FCBAB;
          border-color: #1FCBAB;

          svg {
            stroke: #1FCBAB;
          }
        }

        &.selected-orange {
          background-color: #FF820F;
          border-color: #FF820F;

          svg {
            stroke: #FF820F;
          }
        }

        &.selected-blue {
          background-color: #28D2EE;
          border-color: #28D2EE;

          svg {
            stroke: #28D2EE;
          }
        }
      }
    }
  }

  &-card {
    width: 145px;
    height: 145px;
    cursor: pointer;
    @include flex-center;
    background: #31323D;
    border: 4px solid #D9D9ED;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    svg {
      display: none;
      width: 90px;
      stroke: #31323D;
      stroke-width: 2;
    }

    &:nth-child(even) {
      border: 4px solid #D9D9ED;

      svg {
        stroke: #504F81;
      }
    }

    &.open-card {
      border-color: #FFBC0F;

      img {
        display: none;
      }

      svg {
        display: block;
      }
    }
  }

  &-conclusion {
    @extend .slide-in-bottom;
    padding-bottom: 35px;

    &-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: 35px;

      h2 {
        font-size: 31px;
        line-height: 42px;
        text-align: center;
        margin: 25px 0;
      }

      .rain-drop {
        &-body {
          margin-bottom: 60px;
        }

        &-header {
          width: 100%;
          margin-bottom: 36px;

          img {
            margin-top: -80px;
          }

          >p {
            top: 92px;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
          }

          >h2 {
            position: absolute;
            top: 36px;
            left: calc(50% - 160px);
            font-size: 31px;
            line-height: 42px;
            text-align: center;
            width: 320px;
            margin: auto;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  @media (max-width: $mobile) {
    &-body {
      p {
        margin-bottom: 0;
      }

      .btn-next {
        margin-top: 0;
      }
    }

    &-list {
      transform: scale(0.8);
      margin-top: -20px;
    }
  }
}

.rain-drop.focus-conclusion {
  margin-bottom: 0;
}

.balloons.focus-conclusion {
  height: auto;
}