.select-4-options {
  overflow: auto;

  &-body {
    color: #53536E;
    max-width: 290px;
    margin: auto;
  }

  &-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 1em auto;
  }

  &-data {
    text-align: center;
    margin-bottom: 2em;
  }

  &-explication {
    margin-top: 1em;
  }

  &-description {
    font-size: 18px;
    line-height: 25px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-next {
    margin: 16px auto 32px;
  }

  &-card {
    position: relative;
    width: 125px;
    height: 153px;
    background: #FFFFFF;
    margin-bottom: 32px;
    border: 3px solid #FFFFFF;
    border-radius: 8px;
    @include flex-center;
    transition: all .5s ease;

    &:nth-child(odd) {
      margin-right: 15px;
    }

    .card-bkg {
      position: absolute;
      top: 0;
    }

    label {
      @include flex-center;
      position: absolute;
      bottom: -16px;
      transition: all .5s ease;
      width: 32px;
      height: 32px;
      background: #FFFFFF;
      box-shadow: 0px 0px 12px 1px rgba(122, 150, 185, 0.24);
      border-radius: 8px;
      color: #9F9FB5;
      font-weight: bolder;
      font-size: 25px;
    }

    &.selected {
      border: 3px solid #FF820F;

      label {
        background: #FF820F;
        color: #ffffff
      }
    }
  }
}