.sign-out {
  @include flex-center;

  .presentation {
    margin-top: 20%;

    h2 {
      font-size: 32px;
    }

    >div {
      margin-bottom: 48px;
    }

    .btn-next {
      max-width: 100%;
      padding: 0 12px;
    }
  }
}